<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>Bem vindo ao Fredies Bank's</h1>
      <p>Este projeto foi desenvolvido dentro de um treinamento fornecido pela Mindsait com o objetivo de identificar novos talentos na área de programação em Java e Angular.</p>
      <p>Foram utilizadas tecnologias modernas e eficientes tanto no back-end quanto no front-end. Na camada de back-end, foi utilizado o framework Spring Boot com Java, que permite criar serviços web de maneira ágil e eficiente, além de fornecer uma arquitetura de microserviços escalável e modular. Na camada de front-end, foi utilizado o framework Angular, que é moderno e poderoso para desenvolvimento de aplicações web e mobile, permitindo a criação de interfaces ricas e interativas com o usuário, juntamente com o framework Bootstrap para garantir a consistência visual e a responsividade da aplicação em diferentes dispositivos e tamanhos de tela.</p>
      <p>A aplicação resultante é robusta, escalável e moderna, proporcionando uma experiência de uso fluida e agradável aos usuários.</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <h2>Sobre mim</h2>
      <p>Estudante do 9º semestre de bacharelado em Engenharia da Computação na FIAP, com interesse tanto em back-end (Java) quanto front-end (Angular), buscando se tornar um desenvolvedor mais completo e comprometido em aprender continuamente e aprimorar habilidades.</p>
      <p>Além de desenvolvimento, gosta de jogar videogame e assistir filmes nas horas vagas, atividades que inspiram a buscar soluções criativas e inovadoras no desenvolvimento de projetos. Sempre em busca de novos desafios e oportunidades para aprender e evoluir como desenvolvedor.</p>
    </div>
    <div class="col-md-6">
      <h2>Contato</h2>
      <p>Se você gostaria de entrar em contato comigo, fique à vontade para enviar um e-mail ou mensagem nas redes sociais.</p>
      <ul>
        <div class="photo-container">
          <img src='/assets/Fred_Base.jpeg' alt="Minha imagem" class="imagem-perfil">
        </div>
        <li>E-mail: fred.dezorzi@gmail.com</li>
        <li>Telefone: (11) 97286-1327</li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/frederico-costa-do-nascimento-dezorzi-529518182" target="_blank">https://www.linkedin.com/in/frederico-costa-do-nascimento-dezorzi-529518182</a></li>
        <li>GitHub: <a href="https://github.com/FredDezorzi" target="_blank">https://github.com/FredDezorzi</a></li>
      </ul>
    </div>
  </div>
</div>


